  <%vnewcard = @vdeck.draw!%>
  <%=vnewcard.rank%><%=vnewcard.suite%>
  <%vnewcard1 = @vdeck.draw!%>
  <%=vnewcard1.rank%><%=vnewcard1.suite%>

  <%= form_with do |form| %>

    <%= label_tag 'answer' do %>
      Give it to me: <%= text_field_tag 'answer', @prev_answer %>
    <% end %>

    <%= form.label :YN %>
    <%= form.text_field :title%>
    <%= form.label :Honey or Parsnip%>
    <%= form.text_area :content%>
    <%= form.submit %>
  <%end%>

<p><%= link_to "Test", card_jacks_path %>
<%= link_to "Lobby", root_path %></p>



