<h1>Morfame Casino - BlackJack</h1>
<!-- vLen(D/P) (D)ealer (P)layer is used to pluralize card(s) -->
<!-- Does not show Dealer cards YET -->
<% vLenD = @dealer.cards.length %>
<p>**</p>
<p>**</p>
<p><%= "Dealer has #{vLenD} " %><%= "card".pluralize(vLenD)%><%= " and funds of £100"%></p>

<% vLenP = @player.cards.length %>
<p><%=@player.cards[0].rank%><%=@player.cards[0].suit%></p>
<p><%=@player.cards[1].rank%><%=@player.cards[1].suit%></p>
<p id="newcard">
<p><%= "Player has #{vLenP} " %><%= "card".pluralize(vLenP)%><%= " and funds of £100"%></p>

<button onclick="twist()">TWIST</button>
<button onclick="stick()">STICK</button>

<p id="demo"></p>

<script>
  function twist() {document.getElementById("demo").innerHTML = getnewcard;}
  function stick() {document.getElementById("newcard").innerHTML = "Hello Stick";}
</script>

<script>
  function getnewcard() = "Hello exrea card"
</script>

<p><strong><%= link_to "End Game", root_path %></strong></p>


